{
  "HOSTALIA_PROTOCOL": "ftp",
  "HOSTALIA_HOST": "CHANGE_ME_HOST",
  "HOSTALIA_PORT": 21,
  "HOSTALIA_USER": "CHANGE_ME_USER",
  "HOSTALIA_PASSWORD": "CHANGE_ME",
  "HOSTALIA_REMOTE_PATH": "/aray",
  "HOSTALIA_WINSCP_PATH": "",
  "HOSTALIA_HOSTKEY": "*",
  "HOSTALIA_FTP_SECURE": "explicit"
}
